body , html {
  height: 1500px;
  color: #FF8000;
  background: #1e5799;
}

#container {
  position: absolute;
  overflow: hidden;
  height: 1350px;
  width: 2500px;
  margin: 10px; 
  padding:0; 
  left: 0px; 
  top: 85px;
  border: 0px inset black;
}
#container canvas {
  border: 0px solid #FF8000;
}
#bottom {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
}
#middle {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}
#top {
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
}
#glass {
    z-index: 4;
    top: 0;
    left: 0;
    position: absolute;
}
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(img/preload.gif) no-repeat 50% 50%;}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(img/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#666; color:#FF8000;padding:0}
#error .tcontent {padding:10px 14px 11px; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#mask {background:#FF8000}
#frameless {padding:0}
#frameless .tclose {left:6px}

.panel {
  width: 100%;
  position: fixed;
  height: 100px;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999999999;
}

button {
  border: 0;
  cursor: pointer;
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.upper__panel {
  text-align: center;
  position: absolute;
  width: 100%;
}

.panel__button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.purple {
  background: #743da0;
  color: white;
}

.blue {
  background: #3f72c3;
  color: white;
}

.white {
  background: #e3e8e6;
  color: black;
}

.panel__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.panel__button:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.panel__button:active:after {
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

input {position: absolute; display: none}

.menu {
  position: absolute;
  top: 100px;
  left: 100px;
  margin-top: 10px;
  z-index: 9999999999999999999;
}

.background__color_button {
  width: 50px;
  height: 50px;
  border-radius: 70px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.material-icons.md-36 { font-size: 36px; color: #03A9F4 }

.background__color_button {
  background: #ECEFF1;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.background__color_button:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;
  
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.background__color_button:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.background__color_button:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.background__color_button:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.background__color_button:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.background__color_button:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.background__color_button:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.background__color_button:nth-child(8) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.background__color_button:nth-child(9) {top:0px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(2) {
  top:-75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(3) {
  top:-50px;left:50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(4) {
  left:75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(5) {
  top :50px;left:50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(6) {
  top:75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(7) {
  top:50px;left:-50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(8) {
  left:-75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .background__color_button:nth-child(9) {
  top:-50px;left:-50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menubackground__color_button, .closebackground__color_button {
  position: absolute;
  transition: all 0.3s ease;
}

.closebackground__color_button {
  transform: translateY(50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .background__color_button .menubackground__color_button {
  transform: translateY(-50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .background__color_button .closebackground__color_button {
  transform: translateY(0px);
  opacity: 1;
}

.red__background {
  background: #B22222;
  color: #FFF;
}

.white__background {
  background: #ECEFF1;
  color: #000;
}

.black__background {
  background: #010101;
  color: #FFF;
}

.green__background {
  background:#2ea125;
  color: #FFF;
}

.blue__background {
  background:#1e5799;
  color: #FFF;
}

.purple__background {
  background: #743da0;
  color: #FFF;
}